@model Forum.Web.Models.Forum.ThreadAnswersViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container clearfix">
    <div class="chat">
        <div class="chat-history">
            <ul class="chat-ul">
                <li> <h2>@Model.Thread.Title</h2></li>
                @foreach (var answer in Model.Answers)
                {
                    <li>
                        <div class="message-data">
                            <ul class="list-inline list-unstyled">
                                <li><span class="message-data-name"><i class="glyphicon glyphicon-user"></i> @answer.User.Name</span></li>
                                <li><span> | </span></li>
                                <li><span><i class="glyphicon glyphicon-calendar"></i> @string.Format("{0:dd MMMM yyyy H:mm}", answer.Published)</span></li>
                            </ul>
                        </div>
                        <div class="message you-message">@answer.Content</div>
                    </li>
                    foreach (var comment in answer.Comments)
                    {
                        <li class="clearfix">
                            <div class="message-data align-right">
                                <ul class="list-inline list-unstyled">
                                    <li><span class="message-data-name"><i class="glyphicon glyphicon-user"></i> @comment.User.Name</span></li>
                                    <li><span> | </span></li>
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> @string.Format("{0:dd MMMM yyyy H:mm}", comment.Published)</span></li>
                                </ul>
                            </div>
                            <div class="message me-message float-right">@comment.Content</div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

@section styles {
    <link rel="Stylesheet" href="@Href("~/Content/thread.css")" />
}
