@model Forum.Web.Areas.Users.Models.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
}

<div class="container">
    <h3>@Model.Email Profile</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>User Name</th>
                    <th>Phone number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Email</td>
                    <td>@Model.UserName</td>
                    <td>@Model.PhoneNumber</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <hr />
    <h3 class="text-center">User Activity</h3>
    <div class="table-bordered">
        @Ajax.ActionLink("Threads", Forum.Web.Common.WebConstants.GetUserThreads, Forum.Web.Common.WebConstants.Profile, new { id = ViewContext.RouteData.Values["id"], Area = "Users" }, new AjaxOptions
   {
       UpdateTargetId = "forum-activity",
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace
   }, new { @class = "btn btn-default" })
        @Ajax.ActionLink("Answers", Forum.Web.Common.WebConstants.GetUserAnswers, Forum.Web.Common.WebConstants.Profile, new { id = ViewContext.RouteData.Values["id"], Area = "Users" }, new AjaxOptions
   {
       UpdateTargetId = "forum-activity",
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace
   }, new { @class = "btn btn-default" })
        @Ajax.ActionLink("Comments", Forum.Web.Common.WebConstants.GetUserComments, Forum.Web.Common.WebConstants.Profile, new { id = ViewContext.RouteData.Values["id"], Area = "Users" }, new AjaxOptions
   {
       UpdateTargetId = "forum-activity",
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace
   }, new { @class = "btn btn-default" })
    </div>
<div id="forum-activity"></div>
</div>

