@model Forum.Web.Areas.Users.Models.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
}

<div class="container">
    <h3>@Model.Email Profile</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>User Name</th>
                    <th>Phone number</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Email</td>
                    <td>@Model.UserName</td>
                    <td>@Model.PhoneNumber</td>
                    @*<td>
                            <ul>
                                @foreach (var role in Model.Roles)
                                {
                                    <li>@role</li>
                                }
                            </ul>
                        </td>*@
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <hr />
    <h3>
        @Ajax.ActionLink("Threads", "GetUserThreads", "Profile", new { id = ViewContext.RouteData.Values["id"], Area = "Users" }, new AjaxOptions
   {
       UpdateTargetId = "forum-activity",
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace
   }, new { @class = "btn btn-default"})
        @Ajax.ActionLink("Answers", "GetUserAnswers", "Profile", new { id = ViewContext.RouteData.Values["id"], Area = "Users" }, new AjaxOptions
   {
       UpdateTargetId = "forum-activity",
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace
   }, new { @class = "btn btn-default" })
        @Ajax.ActionLink("Comments", "GetUserComments", "Profile", new { id = ViewContext.RouteData.Values["id"], Area = "Users" }, new AjaxOptions
   {
       UpdateTargetId = "forum-activity",
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace
   }, new { @class = "btn btn-default" })
</h3>
<div id="forum-activity"></div>
</div>

