@model Forum.Web.Areas.Users.Models.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>@Model.Email Profile</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>User Name</th>
                    <th>Phone number</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Email</td>
                    <td>@Model.UserName</td>
                    <td>@Model.PhoneNumber</td>
                    <td>
                        <ul>
                            @foreach (var role in Model.Roles)
                            {
                                <li>@role</li>
                            }
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <hr />
    <h3>@Model.Email Threads</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Thread</th>
                    <th>Publish Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var thread in Model.Threads)
                {
                    <tr>
                        <th>@thread.Title</th>
                        <th>@thread.Published</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <h3>@Model.Email Answers</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Thread</th>
                    <th>Publish Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var answer in Model.Answers)
                {
                    <tr>
                        <th>@answer.Published</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
